<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social Search - RXJS</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>🌟 TALLER RXJS 🌟</h1>
      
      <form #form="ngForm" (ngSubmit)="searchUser()">
        <div class="input-group">
          <label for="username"><i class="fas fa-user"></i> Username</label>
          <input
            type="text"
            [(ngModel)]="txUser"
            name="username"
            required
            placeholder="Ingrese el username"
          />
        </div>
        <button type="submit">
          <i class="fas fa-search"></i> Buscar Usuario
        </button>
        <div class="divider"></div>
      </form>

      <app-info-usuario></app-info-usuario>
      <app-posts></app-posts>
      <app-comments></app-comments>
    </div>
  </body>
</html>