<div class="container">
  <h1>🌟 TALLER RXJS 🌟</h1>
  <form #form="ngForm" (ngSubmit)="searchUser()">
    <label for="username">🔍 Username:</label>
    <input type="text" [(ngModel)]="txUser" name="username" required placeholder="Ingrese el username">
    <button type="submit">Buscar Usuario 🚀</button>
  </form>

  <ng-container *ngIf="usuario">
    <div class="user-info">
      <p><strong>ID:</strong> {{ usuario.id }}</p>
      <p><strong>Nombre:</strong> {{ usuario.firstName }}</p>
      <p><strong>Username:</strong> {{ usuario.username }}</p>
      <p><strong>Email:</strong> {{ usuario.email }}</p>
    </div>
  </ng-container>

  <p *ngIf="usuarioNoEncontrado" class="error-message">⚠️ Usuario no encontrado ⚠️</p>
</div>
